<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.application.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>/icefaces/*</url-pattern>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.jspx</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>org.icefaces.blockingConnectionTimeout</param-name>
        <param-value>300000</param-value>
    </context-param>
    <context-param>
        <param-name>org.icefaces.heartbeatInterval</param-name>
        <param-value>50000</param-value>
    </context-param>
    <context-param>
        <param-name>org.icefaces.heartbeatTimeout</param-name>
        <param-value>60000</param-value>
    </context-param>
    <context-param>
        <param-name>org.icefaces.heartbeatRetries</param-name>
        <param-value>7</param-value>
    </context-param>
    <context-param>
        <param-name>org.icefaces.connectionTimeout</param-name>
        <param-value>180000</param-value>
    </context-param>
    <context-param>
        <description>JNDI Conexion</description>
        <param-name>JNDI_BD</param-name>
        <param-value>jdbc/sware</param-value>
    </context-param>
    <context-param>
        <description>Debug de base de datos</description>
        <param-name>debugBD</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>com.pan.sware.listener.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>org.icefaces.standardRequestScope</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.icefaces.synchronousUpdate</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.icefaces.async.server</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet> 
        <servlet-name>Resource Servlet</servlet-name> 
        <servlet-class>com.icesoft.faces.webapp.CompatResourceServlet</servlet-class> 
        <load-on-startup>1</load-on-startup> 
    </servlet> 
</web-app>
